html,body{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	font-family: Helvetica,sans-serif;
	font-weight:100;
	padding:0;
	margin:0;
}

p{
	font-size: 20px;
}

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
}

#toolbar{
	position: fixed;
	z-index: 999999;
	background-color:white;
	border-radius: 3px;
	padding: 5px;
	
	border: 1px solid black;
	-webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}

#adminToolbarHeader{
	cursor:move;
}

.toolbarOption{
	padding:5px;
	cursor: pointer;
	display: inline-block;
}

.adminTool{
	display: none;
}

.delete{
	position: absolute;
	padding:10px;
	cursor: pointer;
}

.delete:hover{
	color: red;
}

.nav>li{
	font-size: 20px;
}

.navbar-brand>img{
	height: 150%;	
	
}

.navbar-inverse{
	opacity: 0.8;
}

.jumbotron{
	background-image: url("../img/background.png");
	background-size: cover;	
}

.container{
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 3%;
}

#adminSection{
	position: fixed;
	top:0;
	left:0;
}

.container .team{
	border-radius: 6px;
	
}

.team{
	background-color: white;
	padding-top: 30px;
	padding-bottom: 50px;
	
}

.col-md-12 p{
}

.col-md-4 p{
	width: 75%;
	margin: 1em auto;
	text-align: center;
}

.col-md-4 img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.col-md-6 img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

.productRow{
	padding-bottom: 5%;
	padding-top: 0;
	margin-top: 0;
}

.col-md-6 .test{
	background-color: green;
}

.test{
	margin-bottom: 5%;
	margin-right: 5%;
}

img.img-responsive.col-md-12{
	background-color: green;
	
}

body {
background-image: url("../img/concrete_seamless.png");
background-repeat: repeat;
}


.col-md-12.map-image img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
}

input.form-control{
    display:inline-block;
    width: 49%;
    margin-left:auto;
    margin-right:auto;
}

#contactInput{
}

textarea#commentInput{
    width: 100%;
    height: 100%;
    /*margin-top: 3%;*/
    margin-left: auto;
    margin-right: auto;
}

input.btn.btn-primary{
    
    margin-top:3%;
    height:100%;
    width:100%;
}

.sectionContent{
	margin-top: 40px;
	margin-left: 0;
	margin-right: 0;
}

.categoryImage{
	margin-bottom: 15px;
}

.jumbotron-text{
	padding-top: 2em;
	color:white;
}

.member-photo{
	height: 250px;
}

.about-photo{
	height: 400px;
}

.container.col-md-12.category-modal{
	width: 100%;
}

.category-photo{
	height: 250px;
	width: 250px;
}

.product-image{
	height: 50%;
	width: 50%;
}

.product-row{
	margin-top: 2em;
}

.comment-div{
}

#errors{
	margin-top: 1em;
}

label.error{
	color: red;
}

.comment-input{
	margin-bottom: 1em;
}

.frm-clear-top{
	margin-top: 1em;
}

.navbar-rules{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: 1em;
}


.nss-navbar{
	margin-bottom: 0;
	float: left;
	
}

.navbar-white{
	background-color: white;
	
	border-bottom: 0;
	
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: #646464;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color: black;
}

.navbar-inverse .navbar-nav>li>a:visited{
	color: black;
}

.navbar-inverse .navbar-brand:active{
	color: black;
}

.navbar-inverse .navbar-brand:visited{
	color: black;
}

.navbar-inverse .navbar-toggle .icon-bar{
	background-color: black;
}

.navbar-brand{
	
}

p.banner-text{
	text-align: left;
	margin: 0;
}

.navbar{
	min-height: 60px;
}

.navbar-nav>li>a{
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-collapse{
	border-top: none;
}
<<<<<<< HEAD
<<<<<<< HEAD

.about-image{
	padding-left: 30px;
}

.why-nss>li{
	font-size: 20px;
}

.banner-unordered-list>li{
	font-size: 20px;
	text-align: left;
	margin: 0;
}

.jumbotron-logo-image{
	padding-top: 30px;
}

.news-item{
	margin-left: 0;
	margin-right: 0;
}

.news-section-image{
	margin-top: 30px;
}

.news-item-photo{
	max-height: 250px;
	max-width: 250px;
}

.news-item-text{
	margin-top: 30px;
}

.promotion-item{
	margin-left: 0;
	margin-right: 0;
}

.promotion-item-image{
	margin-top: 30px;
}

.promotion-item-photo{
	max-height: 250px;
}

.promotion-item-text{
	margin-top: 30px;
}

.test1{
	
}

.customer-service-item{
	margin-left: 0;
	margin-right: 0;
}

.additional-concerns{
	margin-top: 2em;
}

.services-image{
	
}

.services-header{
	margin-top: 0;
}

.services-item{
	margin-left: 0;
	margin-right: 0;
	margin-top: 30px;
}

.services-text{
	margin-top: 30px;
}